@model Registration.Models.UpdateViewModel

<form asp-controller="Registration" asp-action="Update" method="POST">
    <label asp-for="UserName"></label><input asp-for="UserName"/><span asp-validation-for="UserName"></span><span>@ViewBag.UNErrors</span><br>
    <label asp-for="Email"></label><input asp-for="Email"/><span asp-validation-for="Email"></span><span>@ViewBag.EMErrors</span><br>
    <label asp-for="Password"></label><input asp-for="Password"/><span asp-validation-for="Password"></span><br>
    <label asp-for="PasswordConfirmation"></label><input asp-for="PasswordConfirmation"/><span asp-validation-for="PasswordConfirmation"></span><br>
    <input type="Submit" value="Update"> 
</form> 